@import '../../styles/variables.scss';
.Button {
  padding: 5px 10px;

  color: $mainTextColor;
  text-decoration: none;

  background: $mainColorDark;
  border-radius: 4px;
  &:hover {
    background: $secondColor;
  }
}