@import './variables.scss';

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px;

  font-size: 24px;
  color: $mainTextColor;

  background: $mainColor;

  a {
    padding: 5px 10px;

    color: white;
    text-decoration: none;

    background: #255890;
    border-radius: 4px;
    &:hover {
      background: #90152d;
    }
  }
}
input {
  padding: 5px 10px;
  margin-bottom: 10px;
  font-size: 16px;
  border: 1px solid $mainColor;
  &:focus {
    outline: 2px solid  $mainColorDark;
  }
}
textarea {
  padding: 5px 10px;
  margin-bottom: 10px;
  font-size: 16px;
  border: 1px solid $mainColor;
  &:focus {
    outline: 2px solid  $mainColorDark;
  }
}
.container {
  width: 100%;
  max-width: 768px;

  margin: 0 auto;

  background: $backgroundColor;
  box-shadow: 0px 0px 27px 5px rgba(34, 60, 80, 0.13);
  color: $secondTextColor;
}