.home {
  padding: 10px;
}
.sorting {
  margin-bottom: 30px;
  &__list {
    display: flex;
    border: 1px solid #214d81;
    &__item {
      flex: 1;
      padding: 10px;
      font-size: 14px;
      &:hover {
        cursor: pointer;
        background: rgba(66, 156, 255, 0.65);
      }
    }
  }
}
.task-list {
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
  }
}