@import '../../styles/variables.scss';

.PopUpWrapper {
  z-index: 9999;
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
  background: rgba(0,0,0,0.66);
}

.PopupAddNewTask {
  background: white;
  width: 100%;
  max-width: 480px;
  box-sizing: border-box;
  &__title {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 20px;
    color: $mainTextColor;
    background: $mainColor;
  }
  &__close {
    margin-right: 5px;
    &:hover {
      color: $mainColorDark;
      cursor: pointer;
    }
  }
  &__errors {
    padding: 10px;
    color: $mainTextColor;
    margin-bottom: 10px;
    background: #ff745b;
  }
  &__body {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
}